[submodule "external/viewcrafter"]
	path = external/viewcrafter
	url = git@github.com:emhai/ViewCrafter.git
[submodule "external/eas1er"]
	path = external/eas1er
	url = git@github.com:emhai/Easi3R.git
